/* Reset CSS and set up css variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: sans-serif;
  --bg-color: rgb(12 11 16);
  --card-color: rgb(36 35 42);
  --card-color-darker: rgb(24, 23, 31);
  --accent-color: rgb(165 255 175);
  --white: rgb(210 209 216);
}
body {
  background-color: var(--bg-color);
}
/* Utility Classes */
.show-result {
  opacity: 1 !important;
}
.dark-bg {
  background-color: var(--card-color);
}
.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.vertical-spread{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.accent-color {
  color: var(--accent-color);
}
.accent-color-bg {
  background-color: var(--accent-color);
}
.card-color-darker {
  color: var(--card-color-darker);
}
.card-color-darker-bg {
  background-color: var(--card-color-darker);
}
/* Component Classes */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card {
  max-width: 550px;
  min-width: 550px;
  margin: auto;
  color: var(--white);
}
.card h1 {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  text-align: center;
}
#result {
  opacity: 0;
  font-size: 1.75rem;
  font-weight: bold;
  transition: all ease 0.5s;
}
#warning {
  text-align: center;
  padding-bottom: 1rem;
}
#character-length-indicator {
  font-size: 2rem;
  font-weight: bold;
}
.card-block {
  padding: 1rem;
  border-radius: 0.25rem;
}
.card form {
  height: 450px;
  margin-top: 1rem;
  font-size: 1.25rem;
}
.sub-card-block {
  width: 100%;
}
.form-label {
  font-size: 1.1rem;
}
input[type="range"] {
  width: 100%;
}
input{
  accent-color: var(--accent-color);
}
.bottom-block {
  height: 50px;
  border-radius: 0.25rem;
}
.bottom-block > * {
  padding: 0 1rem;
}
#generate {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  text-align: center;
}
